<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="icon" href="{{ url_for('static', filename='icon.ico') }}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
    <title>Par Kawaii Squad | VRCScannerTool</title>
</head>
<body>
    <div class="stars">
      <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
    </div>
    <div class="glass-container">
        <h1>Kawaii Squad | Main Page</h1>
        <form action="{{ url_for('login') }}" method="post">
            <label for="key">Premium Key:</label>
            <input type="text" id="key" name="key" required>
            <button type="submit" class="premium-btn">Premium Login</button>
        </form>
        <form action="{{ url_for('free_mode') }}" method="post">
            <button type="submit" class="free-btn">Free Mode</button>
        </form>
    </div>
</body>
</html>
